<section id="contact">
  <div class="flex">
    <div class="col-2">
      <h1>Get In <span>Touch</span></h1>
      <div class="contact">
        <h4>Email</h4>
        <a href="mailto:key.team@gmail.com" target="_top">key.team@gmail.com</a>
        <h4>Phone</h4>
        <a href="tel:071234567">07123 4567</a><br>
        <a href="tel:071234567">07123 4567</a>
      </div>
    </div>
    <div class="col-2">
      <div class="form">
        <form action="https://formspree.io/key.team@gmail.com" method="POST">
          <label>Name</label><br>
          <input type="text" name="name"><br>
          <label>Email</label><br>
          <input type="email" name="_replyto"><br>
          <label>Subject</label><br>
          <input type="text" name="subject"><br>
          <label>Message</label><br>
          <textarea name="message" rows="8" cols="40"></textarea><br>
          <div class="submit">
            <input type="image" src="../assets/img/contact/send-button.png" alt="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
