<header id="top" class="main-header">
    <div class="top-header">
      <div class="logo">
        <img src="assets/img/header/logo.svg" alt="Logo">
      </div>
      <div class="main-nav">
        <nav>
          <ul>
            <a href="index.html"><li>Home</li></a>
            <a href="#about"><li>About</li></a>
            <a href="#services"><li>Services</li></a>
            <a href="#work"><li>Works</li></a>
            <a href="#team"><li>Team</li></a>
            <a href="#contact"><li>Contacts</li></a>
          </ul>
        </nav>
      </div>
      <div class="social-icons">
        <a href="#"><img src="assets/img/header/linkedin.svg" alt="LinkedIn"></a>
        <a href="#"><img src="assets/img/header/facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="assets/img/header/twitter.svg" alt="Twitter"></a>
      </div>
    </div>
    <div class="title">
      <p><span>Success is not final.</span> Failure is not fatal: It is the courage to continue that counts.</p>
      <a href="#"><img src="assets/img/header/button.svg" alt="Learn More"></a>
    </div>
    <div class="scroll">
      <img src="assets/img/header/scroll-icon.svg" alt="Down icon">
    </div>
</header>
