<!-- <nav>
  <ul>
    <a href="{{site.baseurl}}/index.html" class="{% if page.url == '/' %}current{% endif %}"><li>Home</li></a>
    <a href="{{site.baseurl}}/#services" class="{% if page.url == '/#services' %}current{% endif %}"><li>Services</li></a>
    <a href="{{site.baseurl}}/#team" class="{% if page.url == '/#team' %}current{% endif %}"><li>Team</li></a>
    <a href="{{site.baseurl}}/#portfolio" class="{% if page.url == '/#portfolio' %}current{% endif %}"><li>Portfolio</li></a>
    <a href="{{site.baseurl}}/#contact" class="{% if page.url == '/#contact' %}current{% endif %}"><li>Contact</li></a>
  </ul>
</nav> -->
