<section id="services">
  <div class="flex">
    <div class="col-2">
      <h1>Our <span>Services</span></h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="col-2 services-wrap">
      <div class="services-content">
        <ul>
          <li>
            <img src="assets/img/services/branding.png" alt="Branding"/>
            <h2>Branding</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          </li>
          <li>
            <img src="assets/img/services/photo.png" alt="Photography"/>
            <h2>Photography</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          </li>
          <br>
          <li>
            <img src="assets/img/services/ideas.png" alt="Generate Ideas"/>
            <h2>Generate Ideas</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          </li>
          <li>
            <img src="assets/img/services/programming.png" alt="Programming"/>
            <h2>Programming</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
