<section id="team">
  <div class="flex">
    <div class="col-2">
      <h1>Our <span>Team</span></h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="col-2">
      <div class="team-wrap">
        <ul>
          <li><img src="assets/img/team/team-1.png" alt=""></li>
          <li><img src="assets/img/team/team-2.png" alt=""></li>
          <li><img src="assets/img/team/team-3.png" alt=""></li>
          <li><img src="assets/img/team/team-4.png" alt=""></li>
          <li><img src="assets/img/team/team-5.png" alt=""></li>
          <li><img src="assets/img/team/team-6.png" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
</section>
